.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.container {
    // max-width: 600px; // изменить параметр
    overflow-x: scroll;
    margin: auto;
}
