.product {
    background: white;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
    color: #56392F;
    border-radius: 10px;
    align-items: center;

    &__navBlock {
        width: 100%;
        img {
            cursor: pointer;
        }
    }
}

.img {
    border-radius: 10px;
    width: 100%;
    background: lightgray;
    height: 170px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
    margin-bottom: 10px;
}

.description {
    font-size: 0.8em;
}
