.container {
    height: 100%;
    width: 173px;
    display: flex;
    align-items: center;
    position: relative;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.items {
    img {
        height: 230px;
    }

    height: 100%;   
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.arrowLeft {
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.arrowRight {
    right: 0;
    position: absolute;
    cursor: pointer;
}