.btn {
    padding: 10px 15px;
    color: #56392F;
    cursor: pointer;
    border-radius: 10px;
    width: 170px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;

}
