.category__navigation {
    div {
        border-radius: 20px;
        color: #56392F;
        background-color: white;
        min-width: 21%;
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-y: scroll;
    gap: 2%;
    padding: 30px;

}

