.category__navigation {
    div {
        margin-left: 20px;
        border-radius: 20px;
        color: #56392F;
        background-color: white;
        width: 170px;
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    display: flex;
    flex-direction: row;
}

