.category__navigation {
    div {
        margin-left: 20px;
        border-radius: 20px;
        color: #56392F;
        background-color: white;
        // width: 250px;
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    display: flex;
    flex-direction: row;
}

